
<style>
    body {
        margin: 0;
        padding: 0;
    }

    nav {
        background-color: white;
        color: #fff;
        height: 60px;
    }

    .navbarrr {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .logo {
        font-size: 1.5rem;
        font-weight: bold;
        color: black;
        text-decoration: none;
    }

    .nav-links {
        list-style: none;
        display: flex;
        align-items: center;
    }

    .nav-links li {
        padding: 0 15px;
    }

    .nav-links li a {
        color: black;
        text-decoration: none;
    }

    .nav-links li a:hover {
        color: #ddd;
    }
    .navanacor{
        color: black;
    }
    @media only screen and (max-width: 600px) { 
        .logo{
            font-size: 14px;
            margin-left: -14px;
            padding-top: 9px;
        }
        .nav-links{
            gap: 0px;
            margin-left: -46px;
            margin-top: 20px;
        }
        .firsdiv a{
            margin-left: 0px;
            font-size: 10px;
        }
        
    }
</style>
<body>
    <nav class="firsdiv">
        <div class="navbarrr">
            <p href="#" class="logo">suceess mantra odisha</p>
            <ul class="nav-links">
                <li><a href="#" style="color: black;">Home</a></li>
                <li><a href="#" style="color: black;">About</a></li>
                <li><a href="#" style="color: black;">Career Advice</a></li>
                <li><a href="#" style="color: black;">Sector</a></li>
                <li><a href="#" style="color: black;">Login</a></li>
                <li><a href="#" style="color: black;">Sing up</a></li>
            </ul>
        </div>
    </nav>
</body>
 