
<style>
.homeboxh1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: initial;
    margin-top: 120px;
}

.Homeboxsecond {
    display: flex;
    gap: 40px;
    margin-left: 130px;
    margin-right: 130px;
}

.Homeboxseconddiv {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0px 7px 2px rgba(0, 0, 0, 0.5);
    background-color: #f0f0f0;
    transition: box-shadow 0.3s;
}

.Homeboxseconddiv:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Homeboxseconddiv h6 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    font-family: "Overpass", sans-serif;
    text-align: center;
}

.Homeboxseconddiv p {
    margin: 5px 0;
    font-size: 14px;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;
}

.Homeboxseconddiv a {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
    text-align: center;
}

.Homeboxseconddiv a:hover {
    text-decoration: underline;
}
@media only screen and (max-width: 600px) {
        .homeboxh1{
            font-size: 14px;
        }
        .Homeboxsecond{
            display: inline;
            gap: 10px;
        }
}

</style>
<body>
    <div class="homeboxh1">
        <h1>Find the right job Sectors</h1>
    </div>
    <div class="Homeboxsecond">
        <div class="Homeboxseconddiv">
            <h6>Software & Data</h6>
            <p>100  jobs</p>
            <a href>Explore More &rarr;</a>
        </div>
        <div class="Homeboxseconddiv">
            <h6>Sales</h6>
            <p>200 jobs</p>
            <a href>Explore More &rarr;</a>
        </div>
        <div class="Homeboxseconddiv">
            <h6>Health & Safety</h6>
            <p>300 jobs</p>
            <a href>Explore More &rarr;</a>
        </div>
        <div class="Homeboxseconddiv">
            <h6>Admin & Office</h6>
            <p>400 jobs</p>
            <a href>Explore More &rarr;</a>
        </div>

    </div>
</body>
